* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
}

header {
  min-height: 6rem;
  padding: 0.5rem;
}
header h1 {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 span {
  color: rgb(50, 115, 255);
  font-size: 4rem;
}
.nav-fill {
  width: 100%;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(50, 115, 255);
  font-weight: 400;
}
.section1 {
  padding: 0.5rem;
}
.section2 {
  padding: 0.5rem;
}
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(50, 115, 255, 0.1);
  min-height: 20rem;
  padding: 2rem;
  border: 2px dotted gray;
  font-weight: 400;
}
.yes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: greenyellow;
  font-weight: 400;
  position: sticky;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 30rem;
  width: 30rem;
}
.som:hover,
.som:focus {
  color: gray;
}
.section4 {
  padding: 0.5rem;
}
.section5 {
  background-color: rgba(50, 115, 255, 0.1);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-weight: 400;
}
.section5 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
}
.section5 h1 {
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
}
.section6 {
  background-color: rgb(50, 115, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}
.section7 {
  padding: 0.5rem;
  text-align: center;
}
.section6 div {
  width: 90%;
  height: 20rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0.2rem;
}
footer {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
footer h1 {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
footer h1 span {
  color: rgb(50, 115, 255);
  font-size: 4rem;
}
.section6 div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  a {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
}
